name: Test Multilspy-Java

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, feat/* ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test the package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    - name: Install gopls
      run: go install golang.org/x/tools/gopls@latest
    - name: Install ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests/multilspy/test_multilspy_java.py
